body {
    background-image: url("Back2.png");
}

.MainImage{
    width: 1700px;
    height: 1000px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #b3d0ff;
    text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #c3cede;;
    margin: 5px;
    text-align: center;
}

p {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 10px;
}
span {

    color: #b3d0ff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110px;
    color: #b8b8b8;
    text-align: center;
}

.SkillImage {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Skills {

    display: flex;
    justify-content: center;
}

.one {
    margin-right: 50px;
    margin-left: 50px;
}

.two {
    margin-right: 50px;
    margin-left: 50px;

}

.three {
    margin-right: 50px;
    margin-left: 50px;
}



.Seperator {
    width: 1200px;
    height: 5px;
    background-color: #c2c2c2;
    margin: 70px auto;
    display: flex;
    justify-content: center;
}
/*
.LinksMain {
    background-image: url("Back.png");
}
*/
a {
    text-decoration: none;
    color: #c2c2c2ce;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    text-align: center;
}

a:hover {
    color: #b3d0ff;
    
}

ul {
    text-align: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #b8b8b8;
    text-align: center;
}

.GameImage {

    width: 355px;
    height: 250px;
    border: 4.5px solid #b8b8b8;
    border-radius: 10px;
    margin: 5px;
}
.GameOne {
    border: 4.5px solid #b8b8b8;
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

.WorkedOn {
    display: flex;
    justify-content: center;

}
.WorkedOnTwo{
    display: flex;
    justify-content: center;
}

.CreditLine {
    background-image: url("LastImg.png");
}

table {
    border: 5.99px solid #b8b8b8;
    border-radius: 10px;
    font-size: 35px;
    overflow: hidden;
    

}

th{
    border: 3px solid #b8b8b8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px;
    color: #b3d0ff;;
    text-align: center;
    position: relative;
}

td{
    border: 3px solid #b8b8b8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px;
    color: #b8b8b8;
    text-align: center;
    position: relative;
}

.PaymentTable {
    display: flex;
    justify-content: center;
    align-items: center;
}